# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
venv/
ENV/

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject


# Emacs
*~


# Temporary data files
notebooks/recipeitems-latest.json
notebooks/FremontBridge.csv
notebooks/gistemp250.nc
notebooks/marathon-data.csv
notebooks/my_figure.png
notebooks/hello.png
notebooks/data/cifar-10-python.tar.gz
notebooks/data/KMNIST/processed/test.pt
notebooks/data/KMNIST/processed/training.pt
notebooks/data/KMNIST/raw/t10k-images-idx3-ubyte
notebooks/data/KMNIST/raw/t10k-images-idx3-ubyte.gz
notebooks/data/KMNIST/raw/t10k-labels-idx1-ubyte
notebooks/data/KMNIST/raw/t10k-labels-idx1-ubyte.gz
notebooks/data/KMNIST/raw/train-images-idx3-ubyte
notebooks/data/KMNIST/raw/train-images-idx3-ubyte.gz
notebooks/data/KMNIST/raw/train-labels-idx1-ubyte
notebooks/data/KMNIST/raw/train-labels-idx1-ubyte.gz
notebooks/data/MNIST/processed/test.pt
notebooks/data/MNIST/processed/training.pt
notebooks/data/MNIST/raw/t10k-images-idx3-ubyte
notebooks/data/MNIST/raw/t10k-images-idx3-ubyte.gz
notebooks/data/MNIST/raw/t10k-labels-idx1-ubyte
notebooks/data/MNIST/raw/t10k-labels-idx1-ubyte.gz
notebooks/data/MNIST/raw/train-images-idx3-ubyte
notebooks/data/MNIST/raw/train-images-idx3-ubyte.gz
notebooks/data/MNIST/raw/train-labels-idx1-ubyte
notebooks/data/MNIST/raw/train-labels-idx1-ubyte.gz
notebooks/data/cifar-10-batches-py/batches.meta
notebooks/data/cifar-10-batches-py/data_batch_1
notebooks/data/cifar-10-batches-py/data_batch_2
notebooks/data/cifar-10-batches-py/data_batch_3
notebooks/data/cifar-10-batches-py/data_batch_4
notebooks/data/cifar-10-batches-py/data_batch_5
notebooks/data/cifar-10-batches-py/readme.html
notebooks/data/cifar-10-batches-py/test_batch
notebooks/data/FashionMNIST/processed/test.pt
notebooks/data/FashionMNIST/processed/training.pt
notebooks/data/FashionMNIST/raw/t10k-images-idx3-ubyte
notebooks/data/FashionMNIST/raw/t10k-images-idx3-ubyte.gz
notebooks/data/FashionMNIST/raw/t10k-labels-idx1-ubyte
notebooks/data/FashionMNIST/raw/t10k-labels-idx1-ubyte.gz
notebooks/data/FashionMNIST/raw/train-images-idx3-ubyte
notebooks/data/FashionMNIST/raw/train-images-idx3-ubyte.gz
notebooks/data/FashionMNIST/raw/train-labels-idx1-ubyte
notebooks/data/FashionMNIST/raw/train-labels-idx1-ubyte.gz
notebooks/tree.dot.png
notebooks/tree.dot
